{% extends "car_shop_app/base.html" %}
{% load staticfiles %}

{% block header %}{% endblock header %}
{% block content %}
<!-- Page Content -->
<style>
.destacados{
    padding: 20px 0;
    text-align: center;
}
.destacados > div > div{
    padding: 10px;
    border: 1px solid transparent;
    border-radius: 4px;
    transition: 0.2s;
}
.destacados > div:hover > div{
    margin-top: -10px;
    border: 1px solid rgb(200, 200, 200);
    box-shadow: rgba(0, 0, 0, 0.1) 0px 5px 5px 2px;
    background: rgba(200, 200, 200, 0.1);
    transition: 0.5s;
}
</style>

<div class="container" style="width: 70%; margin-top: -30px;">
    <div class="row destacados">
        <div class="col-md-4">
            <div>
                <img src="static/image/car.jpg" alt="Repairs" class="img-circle img-thumbnail">
                <h2>Авто</h2>
                <a href="/cars" class="btn btn-primary" title="Repairs">Перейти »</a>
            </div>
        </div>

        <div class="col-md-4">
            <div>
                <img src="static/image/spares.jpg" alt="Spares" class="img-circle img-thumbnail">
                <h2>Аксессуары</h2>
                <a href="/accessories" class="btn btn-primary" title="Spares">Перейти »</a>
            </div>
        </div>

        <div class="col-md-4">
            <div>
                <img src="static/image/customers.jpg" alt="Customers" class="img-circle img-thumbnail">
                <h2>Клиенты</h2>
                <a href="/customers" class="btn btn-primary" title="Customers">Перейти »</a>
            </div>
        </div>
    </div>
</div>

{% endblock content %}
